:root{
    --techgold: rgb(255, 204, 0); /* Variable for yellow color. Usage: "var(--techgold)" -H */
    --dimgold: rgb(200, 150, 0);
}

/*TODO:
    Themes (light/dark mode)
*/

/*
LINKS
*/
a:link{
    color: var(--techgold);
}

.navbutton > a:link, .navbutton > a:visited{
    color: black;
}

a:visited{
    color: var(--dimgold);
}


/*
BODY
*/

body{
    font-family:'tahoma';
    padding:0px;
    margin:0px;
    background-color:black;
}

h1 {
    font-size:48px;
    font-family: 'Tahoma';

    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-top: 0px;
    width:auto;

    display:flex;
    flex-direction:column;
    border-style:none;
    border-width:1px;

    color:black;
}




/*
HEADER
*/
header {
    /* set header height to specific pixel size (round to whole/convenient pixel) once finalized,
        then set top margin of main to same. -H */
        /* Heights should be basically finalized 10/15 -H*/
    background-color: rgb(255, 204, 0);

    margin: 0%;
    border: 0px;
    padding: 10px;
    width:100%;
    
    box-sizing:border-box;
    height:70px;
    border-style:solid;

    display:flex;
    flex-direction:row;
    align-items:stretch;
    justify-content:flex-end;
    

    position:fixed;
    top:0;
    left:0px;
}


#navbar{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    width: 100%;
}


#navbar > #title, header > #title {
    width:400px;
    position:absolute;
    left:10px;
    align-self: center;
    

}

#navbar > .navbutton, header > .navbutton, #navbar > .navbutton > .navbutton {
    background-color: var(--techgold);
    margin: 5px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14pt;
}

#navbar > .navbutton > .navbutton {
    background-color: var(--techgold);
    margin: 0px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14pt;
    box-sizing:border-box;
    height:40px;
}




/*
MAIN BODY
*/
main{
    /* set header height to specific pixel size (round to whole/convenient pixel) once finalized,
        then set top margin of main to same. -H */
    position: static;
    background-color:black;
    min-height: 1000px; /* Temporary until the body of text is filled out -H */
    color:white;
    padding:10px;
      
}

main > div > h1 {
    color: white;
    margin: 10px;
    margin-left: 0px;
    margin-top: 0px;
}

main > p, main > div > p {
    padding: 10px;
}

main > .spacer { /* Spacer to avoid overlap with header -H */
    min-height: 70px;
}

.tags{
    font-size:10pt;
    padding: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    height:fit-content;
    margin: 0px;
}

.article-content{
    display:flex;
    flex-direction: row;
}

.boxes {
    display:flex;
    flex-direction: column;
}
.contents, .infobox {
    display: inline-block; 
    border: 5px;
    border-color: var(--techgold);
    border-style:outset;
    margin: 10px;
    margin-top:10px;
    width: 75%;
    padding:5px;
    padding-right:10px;

}
.contents {
    float:left;
}
.contents > li {
    text-align:start;
    list-style:none;
}
.infobox {
    float:left;
    right:0px;
    border: 5px;
    border-style:outset;
    border-color: var(--techgold);
    list-style:none;
}


.content-body {
    display: flex;
    flex-direction:column;
    text-align:top;
    text-wrap:wrap;     
    width: 80%;
}
.content-body > p {
    margin:10px;
}

.content-body > h2, .about-body > h2 {
    border-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom:5px;
    margin: 10px;
    width:100%;
    top: -70px;
}

.content-body > li {
    margin:10px;
    margin-left: 50px;
}

.about-body {   
    display: flex;
    flex-direction:column;
    text-align:top;
    text-wrap:wrap;     
    width: 98%;
}

.person-box-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.person-box {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.person-text {
    display: flex;
    flex-direction: column;
    text-align: top;
    text-wrap:wrap;
    width:50%;
}

.person-img {
    width: 200px;
    max-width: 100%;
    padding: 5px;
    border-radius: 8%;
    height:auto;
    object-fit: cover;
}

/*
FOOTER
*/
footer {
    padding:0px;
    color: white;
}

footer > p{
    margin:10px;
}


@media (max-width: 900px) { /* Changes these styles when the screen width is less than 900px -H */
    main > .spacer {
        /*height: 140px;*/  /* Will use this piece when I get the title and nav buttons to align properly -H */
    }
    header {
        /*height:140px;*/
        flex-direction: column;
    }
    #navbar{
        flex-direction: row;
    }
    .article-content {
      flex-direction: column;
    }
    .boxes {
        width:100%;
    }
    .contents, .infobox, .content-body{
        width:90%
    }
}